.business-card  {
    background-color: aquamarine;
    align-items: center;
    justify-content: center;
    
}

.profile{
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 400px;
    width: 300px;
}
